* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: text;
  user-select: text;
}

input,
textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-family: inherit;
}

*:focus {
  outline: 0;
  outline: none;
}

ol,
ul {
  margin-bottom: 0;
  list-style: none;
}

a:focus {
  outline: 0;
  outline: none;
}

a:hover {
  color: #0873c5; 
}

img:hover {
  opacity: 0.8
}

a,
button {
  cursor: pointer
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  outline: 0;
}

body {
/*  max-width: 1280px; */
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  line-height: 1.25;
  min-width: 980px;
  margin: auto;
}

body.index div#app {
  height: 100vh;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  padding-top: 16px;
  background-color: #f2f4fa;
  /*  background-color: #c0e2ea; */
  color: #1f31a5;
  width: 100%;
/*  height: 135px; */
  height: 226px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.index header {
  position: relative;
}

/*
.logo,
.logo2 {
  position: absolute;
  font-size: 15px;
  left: 15px;
  top: 12px;
}

.logo a {
  color: #1f31a5;
  text-decoration: none;
}
*/

.product_logo {
  position: absolute;
  width: 120px;
  height: 24px;
  font-size: 15px;
  line-height: 1.4;
/*  right: 15px;
  top: 12px; */
  right: 40px;
  top: 16px;
  background: url("../images/LucaTech_GX_Logo_type2.svg") right top/120px auto no-repeat;
}

.index header .product_logo {
  position: absolute;
  width: 160px;
  height: 40px;
  font-size: 15px;
  line-height: 1.4;
/*  left: 60px;
  top: 36px; */
  left: max(48px, calc((100% - 1280px) / 2) + 12px);
  top: 32px;
  background: url("../images/LucaTech_GX_Logo_type2.svg") left top/160px auto no-repeat;
}

.menu-breadcrumb {
  position: absolute;
/*  color: #1f31a5; */
  color: #333;
  font-size: 15px;
  line-height: 1.4;
/*  left: 15px;
  top: 12px; */
  left: 40px;
  top: 16px;
  padding-left: 28px;
}

.menu-breadcrumb li {
  display: inline-block;
}
/*
.menu-breadcrumb li::before {
  content: ">";
  margin: 0 0.5em;
}

.menu-breadcrumb li:first-child:before {
  display: none;
}
*/

.menu-breadcrumb li:first-child a:before {
  position:absolute;
  left:0;
  top:-2px;
  content:"";
  display:inline-block;
/*  width:1em; */
  width:1.7em;
/*  height:1em; */
  height:2em;
/*  background:url(../images/ic_g_sidebar_home_bl.svg) no-repeat; */
  background: url("../images/mjs_logo.svg") left top/64px auto no-repeat; 
/*  background-size:contain; */
  margin-right: 8px;
}

.menu-breadcrumb li::after {
  content: "|";
  margin: 0 0.5em;
}

.menu-breadcrumb li:has(a)::after {
  content: ">";
  margin: 0 0.5em;
}

.menu-breadcrumb li:last-child:after {
  display: none;
}

/*
.menu-breadcrumb li:nth-child(4) {
  display: block;
}
*/
.menu-breadcrumb a {
  color: #1f31a5;
  text-decoration: none;
}

.menu-breadcrumb a:hover {
/*  color: #93A2CB; */
  text-decoration: underline;
}

/*
header.search {
  height: 126px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  align-items:normal;
}
*/

header .sys_title {
  color: #5F6368;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 28px;
/*  margin: 10px 0 4px;
  display: block; */
}

header h1 {
  /*  font-size: 24pt; */
/*  font-size: 40px; */
  font-size: 32px;
/*  text-align: center; */
  text-align: left;
/*  line-height: 40px; */
  /*  line-height: 36px; */
  margin-top: 16px;
/*  margin-bottom: 12pt; */
/*  margin-top: 24px; */
  margin-bottom: 16px;
}

header h1 a {
  text-decoration: none;
  color: #000;
}

/*
header.search h1 {
  margin-top: 8pt;
  margin-bottom: 4pt;
}
*/

header p.hc_name {
  color: #5F6368;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
  display: block;
}

header p.search_guide {
  font-size: 15px;
  margin: 10px 0 4px;
  display: block;
}

/*
header p.search_target {
  font-size: 16px;
  margin: 10px 0 0;
}

header p.search_target a {
  color: #1f31a5;
  text-decoration: underline;
}

header p.search_target a:hover {
  color: #93A2CB;
}
*/

main {
/*  max-width: 1280px; */
  margin: auto;
  display: flex;
}

/* index */
.index header {
/*  position: relative; */
/*  height: 204px; */
/*  height: 280px; */
  height: 246px;
/*  padding-top: 16px; */
  padding-top: 36px;
  background-image:url(../images/toppage_image.png);
  background-position: right top;
  background-size: cover;
  z-index: 100; 
}

.index header h1 {
  /*  font-size: 32px; */
  margin-top: 8px;
  margin-bottom: 32px;
/*  line-height: 1.0; */
/*  line-height: 46px; */
}

/*
.index header h1 .L2 {
  display: block;
  font-size: 24px;
  margin-top: 5px;
}
*/

.index .main_title {
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 32px;
}

.index main {
  width: 100%;
/*  padding: 10px; */
  padding: 0 max(36px, calc((100% - 1280px) / 2));
/*  padding-bottom: 96px; */
  justify-content: space-around;
/*  height: calc(100vh - 410px);
  overflow-y: auto; */
}

.index li {
  margin: 5px 0 5px 1.5rem;
}

.index .categories {
  margin: 0 auto;
/*  width: 1280px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
}

.index .categories.col1 {
  /*  width: 420px; */
}

.index .categories.col2 {
/*  width: 840px;
  min-width: 840px; */
  justify-content: center;
  margin: 0 20px;
}

.index .categories>div {
/*  width: calc((100% / 3) - 20px); */
  width: calc((100% / 3) - 24px);
/*  border-width: 2px; */
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  min-height: 320px;
/*  height: calc((100vh - 320px)); */
  height: 320px;
/*  margin: 10px; */
  margin: 12px;
}

.index .categories.col2>div {
  width: calc((100% / 2) - 20px);
  max-width: 400px;
}

.index .categories.row2 {
  height: 688px;
}

.index .categories.row2>div {
/*  height: calc((100vh - 340px) / 2); */
}


.index .categories>div {
/*  border-color: #4862ea; */
  border-color: #e4e8f2;
}

.index .categories>div>div {
/*  overflow-y: auto; */
  overflow-y: hidden;
  height: 100%;
  margin-right: 8px;
}

.index .categories>div>div>.accordion {
  overflow-y: auto;
  height: calc(100% - 59px);
}

.index .categories>div>div>h3 {
  position: relative;
  font-size: 24px;
/*  line-height: 1; */
  line-height: 35px;
/*  margin-top: 31px; */
/*  margin-top: 16px; */
  margin: 16px 16px 0 24px;
/*  padding: 0 60px; */
/*  padding: 0 36px 8px; */
  padding: 0 0 8px 36px;
  background-repeat: no-repeat;
/*  background-position: 20px center; */
  background-position: 0px 6px;
/*  color: #4862ea; */
  color: #5F6368;
  border-bottom: 1px solid #e4e8f2;
}

.index .categories>div.cmn>div>h3 {  /* 共通 */
/*  background-image: url(../images/icon_cmn.png); */
  background-image: url(../images/ic_g_common_bl_24px.svg);
}

.index .categories>div.dep>div>h3 {  /* 固定資産 */
/*  background-image: url(../images/icon_dep.png); */
  background-image: url(../images/ic_g_shisan_bl_24px.svg);
}

.index .categories>div.frt>div>h3 {  /* ワークフロー */
/*  background-image: url(../images/icon_frt.png); */
  background-image: url(../images/ic_g_workflow_bl_24px.svg);
}

.index .categories>div.hap>div>h3 {  /* 給与 */
/*  background-image: url(../images/icon_hap.png); */
  background-image: url(../images/ic_g_jinji_kyuyo_bl_24px.svg);
}

.index .categories>div.mas>div>h3 {  /* 財務会計 */
/*  background-image: url(../images/icon_mas.png); */
  background-image: url(../images/ic_g_zaimu_bl_24px.svg);
}

.index .categories>div.sel>div>h3 {  /* 販売 */
/*  background-image: url(../images/icon_sel.png); */
  background-image: url(../images/ic_g_hanbai_bl_24px.svg);
}

.index .categories>div>div>h3>a.expand-btn {
  display: block;
  position: absolute;
  right: 20px;
  top: -5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.index .categories>div>div>h3>a.expand-btn {
  background-image: url(../images/btn_plus.png);
}

.index .categories>div.opened>div>h3>a.expand-btn {
  background-image: url(../images/btn_minus.png);
}

/* .index .categories>div>div{
  max-height: 0;
  transition: max-height .5s;
  overflow: hidden;
} */
.index .categories>div>div>div>ul {
  margin: 10px 60px 31px;
}

.index .categories>div>div>div>ul li {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0 0 4px 0;
}

.index .categories>div ul li a {
/*  color: #333; */
  color: #1f31a5;
  text-decoration: none;
}

.index .categories>div ul li a:hover {
  text-decoration: underline;
/*  color: #93A2CB; */
}

.index .categories>div>div>div>ul>li>h4 {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 4px;
}

.index .categories>div>div>div>ul>li.sub-category {
  padding: 0;
}

.index .categories>div>div>div>ul>li.sub-category>h4 {
  display: flex;
  align-items: center;
}

.index .categories>div>div>div>ul>li.sub-category>h4>a.expand-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: .5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/btn_expand.png);
}

.index .categories>div>div>div>ul>li.sub-category>h4>a.expand-btn:hover {
  background-color: #e4e8f2;
}

.index .categories>div>div>div>ul>li.sub-category.opened>h4>a.expand-btn {
  background-image: url(../images/btn_shrink.png);
}

.index .categories>div>div>div>ul>li.sub-category>h4+ul {
  display: block;
}

.index .categories>div>div>div>ul>li.sub-category.opened>h4+ul {
  display: block;
}

.index .categories>div>div>div>ul>li.sub-category>h4+ul>li {
  line-height: 1.3;
  padding-left: calc(20px + 1em);
  text-indent: -1em;
}

.index .categories>div>div>div>ul>li.sub-category>h4+ul>li:before {
  left:0;
  content:"";
  display:inline-block;
  width:0.8em;
  height:0.8em;
  background:url(../images/icon_sub_8px.svg) no-repeat;
  background-size:contain;
  margin-right: 4px;
}

/* top */
.top header {
/*  height: 180px; */
/*  height: 280px; */
  height: 246px;
}

.top main {
  justify-content: center;
}

.top main .title {
  position: absolute;
/*  top: 278px; */
  top: 304px;
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.top main>a {
/*.top main>div.link { */
/*  width: 606px;
  max-width: 606px; */
  width: 542px;
  max-width: 542px;
/*  height: 156px; */
  height: 240px;
/*  margin: 80px 30px; */
  margin: 120px 30px;
  padding: 0 48px 0 132px;
  border-radius: 8px;
  border: 2px solid #e4e8f2;
/*  color: #1f31a5; */
  color: #5F6368;
  display: flex;
/*  justify-content: start; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  background-repeat: no-repeat;
  background-position: 50px center;
}

.top main>a:first-of-type {
/* background-image: url(../images/bg_purpose.png); */
  background-image: url(../images/ic_g_purpose_bl_80px.svg);
/*  background-size: auto 72px; */
  background-size: auto 80px;
}

.top main>a:nth-of-type(2) {
/*  background-image: url(../images/bg_menu.png); */
  background-image: url(../images/ic_g_menu_bl_80px.svg);
/*  background-size: auto 72px; */
  background-size: auto 80px;
}

.top main>a:hover {
/*  background-color: #e4e8f2; */
  background-color: #f2f4fa;
/*  border: 2px solid #1f31a5; */
}

/* .top main>a>span { */
.top main>a>div.link>span {
  position: relative;
/*  margin-left: 210px; */
  margin-left: 40px;
/*  max-width: 150px; */
  max-width: 200px;
  color: #5F6368;
}

.top main>a>div.link p {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-left: 40px;
/*  max-width: 200px; */
  color: #333333;
}

.top main>a>div.link>span::after {
  position: absolute;
  content: " ";
  display: block;
/*  background: url(../images/sys_top_gt.png) no-repeat right center; */
  background: url(../images/ic_g_arrow_right_bl.svg) no-repeat right center;
  width: 13px;
  height: 24px;
  right: -20px;
  top: 2px;
}

/* sub */
.sub header,
.searchindex header {
  height: 126px;
  padding-left: 40px;
  padding-right: 40px;
/*  justify-content:flex-start; */
  align-items:normal;
/*  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column; */
}

.sub header h1,
.searchindex header h1 {
  padding-top: 16px;
  text-align: left;
}

.sub aside .title {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
  padding-left: 50px;
}

.index-purpose aside p.title {
  background:url("../images/ic_g_purpose_bl_32px.svg") no-repeat;
  background-size:contain;
}

.index-menu aside p.title {
  background:url("../images/ic_g_menu_bl_32px.svg") no-repeat;
  background-size:contain;
}

.sub h2 {
  height: 54px;
  text-align: center;
  line-height: 54px;
  /*  font-size: 28px; */
  font-size: 24px;
}

.sub.index-purpose h2 {
  /*  position: fixed; */
  position: sticky;
/*  top: 135px; */
  top: 226px;
  left: 0;
  width: 100%;
  background-color: #1f31a5;
  color: white;
}

.sub.index-menu h2 {
  /*  position: fixed; */
  position: sticky;
/*  top: 135px; */
  top: 226px;
  left: 0;
  width: 100%;
  background-color: white;
  color: #1f31a5;
}

.sub {
  max-width: none;
  min-width: 1280px;
  overflow-x: hidden;
}

.sub main {
/*  max-width: 1280px; */
  max-width: none;
  min-width: 1280px;
/*  height: calc(100vh - 135px); */
  height: calc(100vh - 345px);
/*  background-color: #f2f4fa; */
  /*  background-color: #c0e2ea; */
}

.sub aside {
  /*  position: fixed; */
  position: sticky;
/*  top: 189px; */
/*  top: 280px; */
  top: 126px;
  left: 0;
  width: calc(340px + (100% - 1280px) / 2);
/*  height: calc(100vh - 189px); */
/*  height: calc(100vh - 280px); */
  height: calc(100vh - 222px);
  padding-top: 32px;
  padding-left: calc((100% - 1280px) / 2);
  overflow: auto;
}

.sub aside ul {
  margin: 30px 30px 30px 40px;
}

.sub aside ul li {
  margin: 5px 0;
  list-style: none;
}

.sub aside ul li a {
  color: #1f31a5;
  text-decoration: none;
  /*  font-size: 20px; */
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 10px;
}

.sub aside ul li a:hover {
  text-decoration: underline;
}

.sub article {
  /*  position: fixed; */
  position: sticky;
  /*  top: 189px; */
  /*  top: 219px; */
/*  top: 310px; */
  top: 126px;
  width: calc(100% - 380px);
  min-width: 400px;
/*  height: calc(100vh - 239px); */
/*  height: calc(100vh - 380px); */
  height: calc(100vh - 222px);
  /*  margin-left: 360px; */
/*  margin-left: 30px; */
  margin-left: 10px;
/*  margin-right: 10px; */
  padding-top: 32px;
  padding-right: calc((100% - 1280px) / 2);
  background-color: white;
/*  border: 2px solid #e4e8f2;
  border-radius: 8px; */
  flex: 1;
  overflow: auto;
}

.sub article div {
/*  padding: 20px 0 20px 40px; */
/*  padding: 0px 0 20px 40px; */
  padding: 0px 0 20px 48px;
/*  height: calc(100vh - 425px); */
/*  height: calc(100vh - 516px); */
  /*  overflow: auto; */
  border-left: 1px solid #e4e8f2;
}

.sub article h4 {
  color: #5F6368;
  font-size: 24px;
  /*  font-size: 18px; */
  line-height: 35px;
  border-left: 4px solid #1F31A5;
  /*  margin: 40px 0 5px; */
  margin: 40px 0 16px -16px;
  padding-left: 12px;
}

.sub article h4:first-of-type {
  margin-top: 0;
}

.sub article ul {
  column-count: 2;
}

.sub article ul li {
  list-style: none;
  line-height: 1em;
/*  margin-left: 3px; */
  margin-left: -16px;
/*  margin-top: 8px; */
  margin-bottom: 24px;
  /*  margin: 8px 0; */
/*  padding-left: 12px;
  text-indent: -12px; */
}

/*
.sub article ul li::before {
    content:  "";
    width:  6px;
    height:  6px;
    display:  inline-block;
    background-color: #1f31a5;
    position:  relative;
    top: -2px;
    margin-right: 6px;
}
*/

.sub article ul li::before {
    content:  "";
    width:  8px;
    height:  8px;
    display:  inline-block;
    background:url(../images/ic_g_arrow_right_8px_bl.svg) no-repeat;
    position:  relative;
    top: -2px;
    margin-right: 8px;
}

.sub article ul li a {
  color: #1f31a5;
  text-decoration: none;
  font-size: 16px;
/*  font-size: 14px; `/
  line-height: 1;
/*  display: inline-block; */
}

.sub article ul li a:hover {
/*  background-color: #f2f4fa; */
  text-decoration: underline;
}

.sub footer {
/*  background-color: #f2f4fa; */
}

.main-header-search {
  position: relative;
  display: flex;
  margin-right: 0;
  margin-bottom: 17px;
  /*  width: 290px; */
}

.sub .main-header-search,
.searchindex .main-header-search {
  position: absolute;
  right: 40px;
/*  top: 56px; */
  top: 60px;
}

.searchindex .main-header-search {
/*  width: 290px; */
}

.form-control-search {
  position: relative;
  height: 40px;
  border: 1px solid #C4C4C4;
  outline: none;
/*  width: 400px; */
  width: 520px;
/*  padding: 2px 20px; */
  padding: 2px 10px;
  /*  font-size: 22px; */
/*  font-size: 18px; */
  font-size: 14px;
  border-radius: 30px;
  background-color: white;
}

.form-control-search::-webkit-search-cancel-button {
  /*  width: 20px; */
  width: 14px;
  /*  height: 20px; */
  height: 14px;
  -webkit-appearance: none;
  cursor: pointer;
  background: url(../images/ic_g_close_bk.svg) no-repeat center center;
  background-size: cover;
  margin-right: 30px;
}

.form-control-search:focus {
  border: 2px solid #1f31a5;
  background-color: #DBE6FE;
}

.btn-search {
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  right: 18px;
  background: url(../images/ic_g_search_bl.svg) no-repeat center center;
  border: none;
  cursor: pointer;
}

.form-control-search:hover+.btn-search::before,
.form-control-search:focus+.btn-search::before {
  position: absolute;
  right: 24px;
  top: -2px;
  display: block;
  content: " ";
  width: 1px;
  border-left: 2px solid #C4C4C4;
  height: 20px;
}

.form-control-search:placeholder-shown {
/*  padding-left: 50px; */
  padding-left: 34px;
}

.form-control-search:placeholder-shown+.btn-search {
/*  left: 22px !important; */
  left: 10px !important;
}

.form-control-search:placeholder-shown+.btn-search::before {
  display: none;
}

/**** new css *****/
.menu-slide {
  width: 350px;
  height: calc(100vh - 204px);
  position: fixed;
  top: 204px;
  left: -551px;
  transition: left .3s ease, width .3s ease;
  background: #fff;
  overflow: auto;
  padding: 10px 5px 5px 20px;
  z-index: 3000;
}

.open .menu-slide {
    left: -551px;
}

.menu-slide.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(194, 194, 194, 0.3);
  z-index: 2000;
}

.open .menu-slide.bg {
  display: none;
}

.menu-slide .menu-top-title {
  align-items: center;
  width: 320px;
  padding: 0 10px 0 0;
  margin: 10px 0 0;
}

.menu-slide .menu-top-title>button {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../images/btn_close.png) no-repeat;
}

.menu-top-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 30px 30px 0;
}

.menu-top-title h1 {
  font-size: 20px;
  color: #1f31a5;
}

.column-left {
  position: fixed;
  width: calc(360px + (100% - 40px - 1280px) / 2);
  min-width: 360px;
  height: calc(100vh - 222px);
  /*  margin: 30px 30px 50px 40px; */
/*  margin: 15px 30px 50px 40px; */
/*  margin: 32px 30px 50px 40px; */
/*  margin: 32px 30px 0 40px; */
  margin: 32px 30px 0 0;
  padding: 0;
  padding-left: max(40px, calc(40px + (100% - 40px - 1280px) / 2));
  border-right: 1px solid #e4e8f2;
  display: flex;
  flex-direction: column
}

.index .column-left {
  position: inherit;
  width: 310px;
  /*  margin: 30px 40px 40px; */
  margin: 15px 20px 40px;
  padding: 0;
  display: flex;
  flex-direction: column
}

.column-left>.column-left-container {
  height: calc(100vh - 314px);
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 10px;
}

.column-left .title {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  padding-left: 48px;
  background:url("../images/ic_g_search_result_side_bl.svg") no-repeat;
  background-size:contain;
}

.column-right {
/*  width: calc(100% - 400px); */
  min-width: 600px;
  background: #fff;
/*  margin: 0 40px 40px 380px; */
/*  margin: 0 0 0 380px; */
  margin-left: max(360px, calc(340px + (100% - 1280px) / 2));

/*  padding-right: calc((100% - 1280px) / 2); */
  padding-right: max(40px, calc(40px + (100% - 40px - 1280px) / 2));
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.index .column-left>.column-left-container {
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
  height: calc(100vh - 280px);
}

.top-content {
  /*  font-size: 16px; */
/*  font-size: 18px; */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.top-content span {
  padding: 0 5px
}

.noresult {
  width: 860px;
  text-align: center;
}

/*
.noresult .Qicon {
  width: 860px;
  text-align: center;
  padding-top: 200px;
  width: 98px;
  height: 98px;
  background: url("../images/Qicon.png") center bottom no-repeat;
}
*/

.noresult p {
  width: 860px;
  padding-top: 16px;
  font-size: 24px;
  font-weight: bold;
}

.noresult p.icon {
  padding-top: 120px;
}

.noresult p.L2 {
  padding-top: 20px;
  font-size: 14px;
  font-weight: normal;
}

/* 検索結果画面ページネーター右寄せ ここから */
.column-right-header {
  display: flex;
  min-height: 87px;
  align-items: center;
  justify-content: space-between;
}

.column-right-header>.top-content.hasresult {
  flex: 1;
  text-align: left;
  padding-left: 20px;

}

.column-right-header>.pagination-container {
  width: 310px;
}

#pagination-ext.pagination-container {
  display: flex;
  justify-content: end;
}

.top-content {
  margin-top: 0;
}

/* 検索結果画面ページネーター右寄せ ここまで */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
/*  padding: 5px 0; */
  padding: 8px 0 16px;
/*  color: #737f9e; */
  color: #93A2CB;
/*  font-size: 14px; */
  font-size: 12px;
  line-height: 17px;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: .2rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #737f9e;
  content: ">";
  display: inline-block;
  padding-right: .2rem !important;
}

.box-check {
  width: 290px;
/*  margin: 0 0 20px; */
  margin: 0 0 32px;
/*  padding: 0 8px; */
  padding: 0;
  background: #fff;
/*  border: 2px solid;
  border-radius: 8px;
  border-color: #1f31a5; */
}

/*
.box-check:first-child {
  border-color: #4862ea;
}

.box-check:nth-child(2) {
  border-color: #e68013;
}

.box-check:nth-child(3) {
  border-color: #f55c5c;
}

.box-check:nth-child(4) {
  border-color: #1fa59b;
}
*/

.box-check:last-child {
  margin: 0
}

.box-check ul li {
  position: relative;
  margin: 10px 0;
  align-items: center;
}

.box-check ul li .check-toggle {
  position: absolute;
  right: 0;
  top: 4px;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
/*  background-image: url(../images/btn_plus_s.png); */
  background-image: url(../images/btn_plus_s.svg);
  cursor: pointer;
}

.box-check ul li .check-toggle.active {
/*  background-image: url(../images/btn_minus_s.png); */
  background-image: url(../images/btn_minus_s.svg);
}

.box-toggle {
  margin: 0 0 0 24px;
  width: calc(100% - 24px);
}

.box-content {
  width: 100%;
  display: flex;
  flex-direction: column
}

.row-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0;
  padding: 0 20px
}

.row-box-1 {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.row-box-1 h2 {
  font-size: 20px;
  color: #0a6fc0;
  font-weight: bold;
  height: 36px;
  display: flex;
  align-items: center;
}

.nd-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  height: calc(100% - 36px);
  padding: 5px 0
}

.nd-box-color-1 {
  border-color: #bdbdbd
}

.nd-box-color-2 {
  border-color: #385d8a;
  background: #edf2f8;
}

.nd-box-color-3 {
  border-color: #82b3f1;
  background: #c6d9f1
}

.nd-box-color-4 {
  border-color: #009900;
  background: #e6ffcc;
}

.nd-box p {
  font-size: 18px;
  margin: 0;
  padding: 5px 15px;
  color: #333
}

.nd-bx {
  display: none;
  font-size: 18px;
  padding: 5px 15px;
  color: #333
}

.ul-bx {
  width: 100%;
  margin: 0;
  padding: 0
}

.nd-show {
  font-size: 18px;
  padding: 5px 15px;
  color: #333
}

.click-sp {
  padding-left: 10px
}

.secondary-services-description {
  display: none
}

.secondary-services-description p {
  margin-left: 20px;
  cursor: pointer
}

.click-sp i {
  color: #1479c4;
  cursor: pointer
}

.nd-box p a {
  color: #0055a5;
  text-decoration: auto;
}

.hiddenlevel {
  display: none !important;
}

input[type="checkbox"].hidden {
  display: none !important;
}

.custom-checkbox>input[type=checkbox].custom-control-input {
  display: none;
}

.custom-checkbox>.custom-control-label {
  /*  font-size: 16px; */
  font-size: 16px;
  position: relative;
  padding: 3px 3px 3px 30px;
  color: #8d8d8d;
  display: block;
  cursor: pointer;
}


.custom-checkbox.has-childs>.custom-control-label {
  margin-right: 24px;
}

.box-check>ul>li>.custom-checkbox>.custom-control-label {
  font-size: 18px;
  font-weight: bold;
}

.custom-checkbox>.custom-control-label:hover {
/*  background-color: #93A2CB; */
  text-decoration: underline;
}

.custom-checkbox.leaf>.custom-control-label {
  /*  font-size: 16px; */
  font-size: 14px;
  line-height: 18px;
}

.custom-checkbox>.custom-control-label:hover:after {
  border-color: #1f31a5;
}

.custom-checkbox>.custom-control-label:after,
.custom-checkbox>.custom-control-label:before {
  position: absolute;
  content: "";
  display: block;
  top: 15px;
}

.custom-checkbox.leaf>.custom-control-label:after,
.custom-checkbox.leaf>.custom-control-label:before {
  top: 12px;
}

.custom-checkbox>.custom-control-label:after {
  left: 5px;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #8d8d8d;
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox>.custom-control-label:before {
  left: 12px;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
}

.custom-checkbox>input[type=checkbox]:checked+.custom-control-label {
  color: #1f31a5;
}

.custom-checkbox>input[type=checkbox]:checked+.custom-control-label:before {
  opacity: 1;
}

.custom-checkbox>input[type=checkbox]:checked+.custom-control-label:after {
  border-color: #1f31a5;
  background-color: #1f31a5;
}

.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label {
  color: #1f31a5;
}

.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label:after {
  border-color: #1f31a5;
}

.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label::before {
  left: 9px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  border: none;
  transform: none;
  opacity: 1;
  z-index: 100;
  pointer-events: none;
  background-color: #1f31a5;
}

.nd-content-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /*  margin-bottom: 25px; */
  margin-bottom: 24px;
}

.title-s a {
  color: #1f31a5;
  font-size: 16px;
  /*  font-size: 18px; */
  font-weight: bold;
  line-height: 24px;
}

.title-s a:hover {
/*  color: #93A2CB; */
  text-decoration: underline;
}

.box-click-search {
  width: 100%;
  display: flex;
  flex-direction: column;
/*  border: 2px solid #1f31a5;
  border-radius: 8px; */
/*  padding: 20px 40px; */
/*  padding: 0 20px; */
  padding: 0 0 0 40px;
}

.nd-p {
  color: #333333;
  font-size: 14px;
  overflow: hidden;
  padding-bottom: 25px;
  border-bottom: 1px solid #e4e8f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.paginationjs {
/*  justify-content: center; */
  justify-content: right;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.keyword {
  font-weight: bold;
  background-color: #f2e41a;
}

.emptyresult {
  color: #c7c7c7 !important;
}

.searchresults>li {
  margin: 0;
}

.countnumber {
  cursor: pointer;
/*  text-decoration-line: underline; */
  text-decoration-line: none;
}

.countnumber:hover {
  font-weight: bold;
  background-color: #f2f4fa;
}

.slide-enter-active,
.slide-leave-active {
  transition: max-height 2.5s;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
}

.index .categories>div>ul {
  max-height: 1000px;
}

.custom-checkbox>.custom-control-label.root {
  font-size: 16px;
  padding-left: 3px;
}

.custom-checkbox>.custom-control-label.root::after,
.custom-checkbox>input[type=checkbox]:checked+.custom-control-label.root::after,
.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label.root::after{
  opacity: 0!important;
  width: 0px;
  height: 0px;
  display: none;
}

.custom-checkbox>.custom-control-label.root::before,
.custom-checkbox>input[type=checkbox]:checked+.custom-control-label.root::before,
.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label.root::before{
  opacity: 0!important;
  width: 0px;
  height: 0px;
  display: none;
}

.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label.all::before {
  left: 9px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  border: none;
  transform: none;
  opacity: 1;
  z-index: 100;
  pointer-events: none;
  background-color: #1f31a5;
}

.custom-checkbox.check-new>input[type=checkbox]+.custom-control-label.all::after {
  border-color: #1f31a5;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  font-size: 12px;
/*  padding-top: 8px;
  padding-bottom: 8px; */
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  margin: auto;
  background-color: #f2f4fa;
}

.footer_index {
  position: sticky;
  top: 100vh;
  padding-top: 12px;
}

/*
.footer img {
  width: 80px;
  height: auto;
  display: block;
  margin: auto;
}
*/

footer .mjs_logo {
  width: 80px;
  height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 8px auto;
  background: url("../images/mjs_logo.svg") center top/80px auto no-repeat;
}

/*
.sub header h1.mas {  
  background-image: url(../images/icon_mas.png);
}
*/

.sub header h1:before,
.searchindex header h1:before {
  left:0;
  content:"";
  display:inline-block;
  width:1em;
  height:1em;
  margin-right: 16px;
}

.sub header h1.cmn:before {
/*  background:url(../images/../images/icon_cmn.png) no-repeat; */
  background:url(../images/ic_g_common_bl_32px.svg) no-repeat;
  background-size:contain;
}

.sub header h1.mas:before {
/*  background:url(../images/../images/icon_mas.png) no-repeat; */
  background:url(../images/ic_g_zaimu_bl_32px.svg) no-repeat;
  background-size:contain;
}

.sub header h1.hap:before {
/*  background:url(../images/../images/icon_hap.png) no-repeat; */
  background:url(../images/ic_g_jinji_kyuyo_bl_32px.svg) no-repeat;
  background-size:contain;
}

.sub header h1.dep:before {
/*  background:url(../images/../images/icon_dep.png) no-repeat; */
  background:url(../images/ic_g_shisan_bl_32px.svg) no-repeat;
  background-size:contain;
}

.sub header h1.sel:before {
/*  background:url(../images/../images/icon_sel.png) no-repeat; */
  background:url(../images/ic_g_hanbai_bl_32px.svg) no-repeat;
  background-size:contain;
}

.sub header h1.frt:before {
/*  background:url(../images/../images/icon_frt.png) no-repeat; */
  background:url(../images/ic_g_workflow_bl_32px.svg) no-repeat;
  background-size:contain;
}

/*
.sub header h1.mas:before {
  left:0;
  content:"";
  display:inline-block;
  width:1em;
  height:1em;
  background:url(../images/../images/icon_mas.png) no-repeat;
  background-size:contain;
  margin-right: 8px;
}
*/

.searchindex main {
  width: 100%;
  height: calc(100vh - 222px);
}

.searchindex header h1:before {
  background:url(../images/ic_g_search_result_bl_32px.svg) no-repeat;
  background-size:contain;
}
	

@media screen and (max-width: ●px) {
}
