<!DOCTYPE html>
<html lang="ja">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width">

   <title>LucaTech GX ヘルプセンター</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/style.css">
   <link rel="icon" href="images/LucaTech_GX_favicon.ico">
   <script src="js/lib/vue.global.prod.js"></script>
   <script src="js/components/contents.js"></script>
   <script src="js/search/utils.js"></script>
   <script src="js/components/commonIndexPage.js"></script>
</head>

<body class="index">
   <div id="app">
      <header>
         <p class="hc_name">LucaTech GX ヘルプセンター</p>
         <div class="product_logo"></div>
         <h1>お困りですか？</h1>
         <div class="main-header-search">
            <input v-model="searchKeyword" class="form-control-search" placeholder="キーワード検索でヘルプを見つける。例：インポート、仕訳　入力" type="search" autocomplete="on" name="searchkeyword" @keyup.enter="onSearch">
            <button class="btn-search" @click="onSearch"></button>
         </div>
      </header>

      <div class="main_title">業務システムから探す</div>
      <main>
         <div class="categories" :class="{row2:contentsData.length>3, col1:contentsData.length===1, col2:contentsData.length===2 || contentsData.length===4}">
            <div v-for="(item,index) in contentsData" :key="index" class="category" :class="item.ID.toLowerCase()">
               <div>
                  <h3>{{item.TITLE}}</h3>
                  <div class="accordion">
                     <ul>
                        <template v-if="item.ID==='CMN'">
                           <li class="sub-category">
                              <h4>{{introSection.TITLE}}</h4>
                              <ul>
                                 <li v-for="(link,linkIndex) in introSection.LINKS" :key="linkIndex">
                                    <a :href="link.HREF" :target="link.TARGET">{{link.TITLE}}</a>
                                 </li>
                              </ul>
                           </li>
                        </template>
                        <li v-for="(item2,index2) in item.CONTENTS" :key="index2" :class="{'sub-category':item2.TYPE==='category'}">
                           <a v-if="item2.TYPE==='contents'" :href="`sys_top.html?contentid=${item2.ID}`">{{item2.TITLE}}</a>
                           <template v-else-if="item2.TYPE==='category'">
                              <h4>{{item2.TITLE}}</h4>
                              <ul>
                                 <li v-for="(item3,index3) in item2.CONTENTS" :key="index3">
                                    <a :href="`sys_top.html?contentid=${item3.ID}`">{{item3.TITLE}}</a>
                                 </li>
                              </ul>
                           </template>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer class="footer_index">
         <p class="mjs_logo"></p>
         ©2025 MIROKU JYOHO SERVICE CO., LTD.
      </footer>
   </div>
   <script>
      createIndexPageApp("index").mount('#app');
   </script>
</body>

</html>
