<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>LucaTech GX ヘルプセンター</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/LucaTech_GX_favicon.ico">
  <script src="js/lib/vue.global.prod.js"></script>
  <script src="js/core/contents.js"></script>
  <script src="js/search/utils.js"></script>
</head>

<body class="top">
  <div id="app">
    <header>
      <ul class="menu-breadcrumb">
        <li><a href="index.html">LucaTech GX ヘルプTOP</a></li>
        <li>{{categoryTitle}}</li>
        <li v-if="subCategoryTitle">{{subCategoryTitle}}</li>
        <li>{{contentsTitle}}TOP</li>
      </ul>
      <div class="product_logo"></div>
      <div class="sys_title">{{categoryTitle}}</div>
      <h1>{{contentsTitle}}</h1>

      <p class="search_guide"></p>
      <div class="main-header-search">
        <input v-model="searchKeyword" class="form-control-search" placeholder="キーワード検絢でヘルプを見つける。例：インポート、仕訳　入力" type="search" autocomplete="on" name="searchkeyword" @keyup.enter="onSearch">
        <button class="btn-search" @click="onSearch"></button>
      </div>
    </header>
    <main>
      <div class="title">検索方法</div>
      <a :href="`purpose.html?contentid=${contentid}`"><div class="link">
        <span>目的から探す</span>
        <p>「社員を登録する」「決算を確定する」など、目的に沿った操作方法を確認できます。</p></div></a>
      <a :href="`menu.html?contentid=${contentid}`"><div class="link">
        <span>メニューから探す</span>
        <p>「伝票入力」「科目登録」など、処理単位での操作方法を確認できます。</p></div></a>
    </main>
    <footer>
      <div class="footer"><p class="mjs_logo"></p>
      ©2025 MIROKU JYOHO SERVICE CO., LTD.</div>
    </footer>
  </div>
  <input type="checkbox" :id="'checkbox-' + contentid" class="hiddenlevel" v-model="isChecked">
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          contentsData: null,
          categoryTitle: "",
          subCategoryTitle: "",
          searchKeyword: "",
          isChecked: true
        };
      },
      created() {
        if (!this.contentid) {
          location.replace("index.html");
          return;
        }
        CONTENTS.forEach(category => {
          category.CONTENTS.forEach(item => {
            if (item.TYPE === "category") {
              item.CONTENTS.forEach(item2 => {
                if (item2.ID === this.contentid) {
                  this.contentsData = item2;
                  this.categoryTitle = category.TITLE;
                  this.subCategoryTitle = item.TITLE;
                }
              });
            } else if (item.TYPE === "contents" && item.ID === this.contentid) {
              this.contentsData = item;
              this.categoryTitle = category.TITLE;
            }
          });
        });
        document.title = `${this.contentsTitle} | LucaTech GX ヘルプセンター`;
      },
      computed: {
        contentid() {
          const searchParams = new URLSearchParams(window.location.search);
          return searchParams.get('contentid');
        },
        contentsTitle() {
          return this.contentsData?.TITLE ?? "";
        },
      },
      methods: {
        onSearch() {
          if (!this.searchKeyword) {
            return;
          }
          let jsonModel = [];
          for (let nCount = 0; nCount < CONTENTS.length; nCount++) {
            let model = buildSearchTreeModel(CONTENTS[nCount]);
            if (model != null) {
              jsonModel.push(model);
            }
          }

          // チェックボックスの状態を保存
          let checkId = [];
          const checkboxes = document.querySelectorAll(".search-in");
          checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
              checkId.push(checkbox.id);
            }
          });

          localStorage.setItem("checkId", JSON.stringify(checkId));
          localStorage.setItem("contents", JSON.stringify(jsonModel));
          localStorage.setItem("searchkeyword", this.searchKeyword);
          document.location.href = "search.html";
        }
      }
    }).mount('#app')
  </script>
</body>

</html>